*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

:root{
    --font: Montserrat;
}
.container-redes-sociais{
    display: flex;
}

.insta{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1129px;
    top: 70px;
}

.facebook{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1191px;
    top: 70px;
}

.container-apresentacao{
    padding: 50px;
    margin-bottom: 50%;
    text-align: start;
}

#container-inicio{
    margin-top: 80px;
    width: 539px;
    height: 533px;
    background: #D56E29;
}
#text-prazer{
    position: absolute;
    width: 180px;
    height: 65px;
    left: 50px;
    top: 242px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 65px;
    color: #FFFFFF;
}
#text-somos{
    position: absolute;
    width: 386px;
    height: 174px;
    left: 50px;
    top: 306px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 71px;
    line-height: 87px;
    color: #FFFFFF;
}
#text-conheca{
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    width: 305px;
    height: 40px;
    left: 53px;
    top: 532.07px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #D56E29;
}
#img-inicio{
    position: absolute;
    width: 741px;
    height: 533px;
    left: 539px;
    top: 80px;
}

#text-equipe{
    font-family: var(--font);
    margin: 0px;
    width: 131px;
    font-size: 30px;
}

/*.container-Nos{
    background-color: darkgrey;
    margin: 30%;
    border-radius: 25px;
}*/

.logo{
    width: 174px;
    height: 56px;
    left: 55px;
    top: 50px;
}

#Nos{
    width: 1280px;
    height: 533px;
    left: 0px;
    top: 157px;
    background-image: url("src/imagens/Pagina/TOP_1.png");
    /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 39.14%, rgba(141, 141, 141, 0) 100%);*/
    background-blend-mode: overlay;
    
}

#impacto{

}